@model User

<main class="m-auto h-full w-full text-white flex flex-col justify-between p-4">
    <form asp-controller="Account" asp-action="SaveAccount" class="w-fit flex flex-col m-auto" enctype="multipart/form-data" method="post">
        <div class="flex flex-col w-full space-y-2 mb-3">
            <label class="font-bold">Display Name</label>
            <input class="form-control" asp-for="DisplayName"/>
        </div>

        <div class="flex flex-col w-full space-y-2">
            <label class="font-bold">Profile Image</label>
            <img  width="400" class=" mx-auto" src="@Model.ProfilePicture.Path" alt="@Model.ProfilePicture.Path"/>
            <input asp-for="ProfilePictureUpload" class="form-control p-4 border-brand-50/[0.3]" type="file" />
        </div>
        
        <input type="submit" value="Save" class="hover:border-brand-50/[.7] border border-brand-50/[0.3] duration-300 transition-all rounded bg-brand-950 px-4 py-2 mt-5 cursor-pointer"/>
    </form>
    
    <form class="form-inline mx-auto" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
        <button type="submit" class="nav-link btn btn-link text-dark">Click here to Logout</button>
    </form>
</main>
