@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<main class="w-full h-full flex text-white">
<div class="m-auto">
    <p class="text-2xl font-bold">@ViewData["Title"]</p>
    <partial name="_StatusMessage" model="Model.StatusMessage" />
</div>
</main>
