@page
@model ExternalLoginModel
@{
    ViewData["Title"] = "Register";
}


<main class="w-full h-full flex">
    <div class="text-white border border-brand-50/[0.2] rounded p-8 m-auto w-[500px]">
        <p id="external-login-title" class="text-2xl">Associate your <strong>@Model.ProviderDisplayName</strong> account</p>
        <p id="external-login-title" class="text-lg mb-3">Complete your new account with just a few questions</p>
        

        <form asp-page-handler="Confirmation" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div asp-validation-summary="ModelOnly" class="text-red-500" role="alert"></div>
            <div class="flex flex-col mb-3">
                <label asp-for="Input.Email" class="form-label font-bold mb-2"></label>
                <span asp-validation-for="Input.Email" class="text-red-500"></span>
                <input asp-for="Input.Email" class="form-control" autocomplete="email" placeholder="Please enter your email."/>
            </div>
            <div class="flex flex-col mb-3">
                <label asp-for="Input.DisplayName" class="form-label font-bold mb-2"></label>
                <span asp-validation-for="Input.DisplayName" class="text-red-500"></span>
                <input asp-for="Input.DisplayName" class="form-control" autocomplete="username" placeholder="Please enter a display name."/>
            </div>
            <button type="submit" class="w-full btn mt-3">Register</button>
        </form>
    </div>
</main>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
